.circular-text span {
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: 0 100%;
    width: 1px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  